# IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# IntelliJ IDEA module and workspace settings
*.iml
*.ipr
*.iws
.idea/
.idea/*
.idea_modules/

# IntelliJ IDEA caches
out/

# Gradle specific files
.gradle/
build/
**/build/

# Log files
*.log

# Java class files
*.class

# Package files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Eclipse specific files
.project
.classpath
.c9/
*.launch
.settings/

# Linux specific files
*~
